Feature: RFC 2822 military time zone output format

The RFC 2822 date time format includes the use of military single-letter time zones such as: Z (zulu) equivalent to UTC+0000, A (alpha) = +0100, N = -0100, Y = -1200 and M +1200; All the letters of the Latin alphabet are used except J. Ref. [Wikipedia](https://en.wikipedia.org/wiki/List_of_military_time_zones)

However, there is no corresponding encoding to include the military time zone letter as part of an output format. I would like to suggest the use of the letter 'N' as the output is always a single uppercase letter. The letter 'N' does not appear to be used currently and should be used for whole hour zones only. Half-hour offsets such as 'Charlie Star Time Zone' C* UTC+03:30 should not be included as they are not legal in RFC 2822.

Is there a real use case for this? As far as I know no one really uses this. Similarly, there are ISO formats we support at parse but don't have a supported way to output.

I meant to point this out in the PR where you added 2822 support, but you should also be aware of this, from RFC 5322:

> The original definitions of the military zones "A" through "I" are
   equivalent to "+0100" through "+0900", respectively; "K", "L", and
   "M" are equivalent to "+1000", "+1100", and "+1200", respectively;
   "N" through "Y" are equivalent to "-0100" through "-1200".
   respectively; and "Z" is equivalent to "+0000".  However, because of
   the error in [RFC0822], they SHOULD all be considered equivalent to
   "-0000" unless there is out-of-band information confirming their
   meaning.

That error was that the zones had been specified backwards in RFC 822. In theory that means that we should read them all UTC. In practice, it's pretty tempting to reject them outright. In any case, it doesn't make it a very valuable thing to format as.

Withdrawn

Agreed.   Nobody uses these, AFAIK.